<template>
  <div id="app">
    <h1>From Vue Project</h1>
    <my-react-component />
  </div>
</template>

<script>
import { ReactInVue } from "vuera";
import { LibraryReactExport2 } from "@merqueo/library-react-export-2";

export default {
  name: "App",
  components: { "my-react-component": ReactInVue(LibraryReactExport2) },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
